PORT=4000
DEMO_ROOT_DIR=..
DEMO_DEPLOYMENTS_PATH=../deployments/v3-devnet-slashing.json
DEMO_SCENARIOS_PATH=../demo-config/scenarios.json
DEMO_CHALLENGERS_PATH=../demo-config/challengers.json
DEMO_NETWORKS_PATH=../demo-config/networks.json
DEMO_EVENTS_PATH=../demo-config/events.json
DEMO_ABIS_DIR=../demo-config/abis
DEMO_SCRIPT_BASE=../
